@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf")
    format("truetype");
}

.ibm {
  font-family: IBMPlexMono, sans-serif;
}

.jakarta {
  font-family: PlusJakartaSans, sans-serif;
}

.inc {
  font-family: Inconsolata, sans-serif;
}

::selection {
  color: white;
  background: #af7cd5;
}
