@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'IBMPlexMono';
	src: url('/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'PlusJakartaSans';
	src: url('/fonts/PlusJakartaSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Inconsolata';
	src: url('/fonts/Inconsolata-Regular.ttf') format('truetype');
}

@layer base {
	::selection {
		@apply bg-hover text-white;
	}

	html {
		@apply text-base;
	}
}

@layer utilities {
	.ibm {
		font-family: IBMPlexMono, sans-serif;
	}

	.jakarta {
		font-family: PlusJakartaSans, sans-serif;
	}

	.inc {
		font-family: Inconsolata, sans-serif;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.hide-scroll::-webkit-scrollbar {
		@apply hidden;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.hide-scroll {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
